<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haedrian.haedrian" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Application.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/birdlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:name" >
        <meta-data
            android:name="lenddoAppId"
            android:value="55372dff7ec70ec34d9b3ef6" />
        <meta-data
            android:name="googlePlacesApiKey"
            android:value="@string/google_places_api_key" />

        <activity
            android:name=".UserInteraction.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".HomeScreen.SendRequest.SendRequestActivity"
            android:label="@string/title_activity_send_request"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.Contacts.ContactsActivity"
            android:label="@string/title_activity_add"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
            >
        </activity>
        <activity
            android:name=".HomeScreen.ApplyForLoan.Projects.ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:parentActivityName=".HomeScreen.HomeActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.InvestActivity"
            android:label="@string/title_activity_invest"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.ApplyForLoan.Projects.CreateProjectActivity"
            android:label="@string/title_activity_create"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".UserInteraction.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.Wallet.WalletActivity"
            android:label="@string/title_activity_wallet"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.AddMoney.BuyActivity"
            android:label="@string/title_activity_buy"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.SendRequest.SendActivity"
            android:label="@string/title_activity_send"
            android:parentActivityName=".HomeScreen.SendRequest.SendRequestActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.ApplyForLoan.Projects.ProjectsList"
            android:label="@string/title_activity_projects_list"
            android:parentActivityName=".HomeScreen.InvestActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.InvestActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.Wallet.CreateWalletActivity"
            android:label="@string/title_activity_create_wallet"
            android:parentActivityName=".HomeScreen.Wallet.WalletActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.Wallet.WalletActivity" />
        </activity>
        <activity
            android:name=".UserInteraction.CurrencyInfoActivity"
            android:label="@string/title_activity_currency_info"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.SendRequest.RequestActivity"
            android:label="@string/title_activity_request"
            android:parentActivityName=".HomeScreen.SendRequest.SendRequestActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.Wallet.ImportWalletActivity"
            android:label="@string/title_activity_import_wallet"
            android:parentActivityName=".HomeScreen.Wallet.WalletActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.Wallet.WalletActivity" />
        </activity>
        <activity
            android:name=".Scanner.CaptureActivity"
            android:label="@string/title_activity_capture"
            android:parentActivityName=".HomeScreen.SendRequest.SendActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.SendRequest.SendActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.Contacts.GetContacts"
            android:label="@string/title_activity_get_contacts" >
        </activity>
        <activity
            android:name=".HomeScreen.Contacts.ContactDetailActivity"
            android:label="@string/activity_contact_detail"
            android:parentActivityName=".HomeScreen.Contacts.GetContacts" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.Contacts.GetContacts" />
        </activity>
        <activity
            android:name=".HomeScreen.ApplyForLoan.CreditScore.GetCreditScoreActivity"
            android:label="@string/title_activity_credit_check"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.ApplyForLoan.CreditScore.CompleteActivity"
            android:label="@string/title_activity_complete" >
        </activity>
        <activity
            android:name=".HomeScreen.ApplyForLoan.CreditScore.CanceledActivity"
            android:label="@string/title_activity_canceled" >
        </activity>
        <activity
            android:name=".HomeScreen.ApplyForLoan.CreditScore.WaitForCreditScore"
            android:label="@string/title_activity_wait_for_credit_score" >
        </activity>
        <activity
            android:name=".UserInteraction.SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".UserInteraction.LoginActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInteraction.LoginActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.ApplyForLoan.CreditScore.HasCreditScoreActivity"
            android:label="@string/title_activity_existing_credit_score"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.ApplyForLoan.CreditScore.CheckForCreditScore"
            android:label="@string/title_activity_check_for_credit_score"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".HomeScreen.MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".HomeScreen.HomeActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeScreen.Wallet.TransactionDetailsActivity"
            android:label="@string/title_activity_transaction_details" >
        </activity>
        <activity
            android:name=".HomeScreen.AddMoney.OrderSummaryActivity"
            android:label="@string/title_activity_order_summary" >
        </activity>
        <activity
            android:name=".UserInteraction.PinActivity"
            android:label="@string/title_activity_pin" >
        </activity>
    </application>

</manifest>
